html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  /* font-family: 'font', sans-serif; */
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo-link {
  display: inline-block;
  margin-bottom: 50px;
}

.links-module {
  margin-bottom: 50px;
  font-size: 0px;
}

.link {
  display: inline-block;
  padding: 24px 49px 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link-download {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color:  #3f2aff;
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.paragraph-text {
  margin: 0;
  width: 872px;
}

.paragraph-text:not(:last-child) {
  margin-bottom: 40px;
}

.chapter {
  margin-bottom: 40px;
}

.head-h1 {
  margin: 0;
  margin-bottom: 40px;
}

.title-article-grey-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.title-article-grey-block:not(:last-child) {
  margin-bottom: 40px;
}

.title-article-grey-block .paragraph-text {
  width: 692px;
}

.title-article-grey-block .paragraph-text:not(:last-child) {
  margin-bottom: 10px;
}

.head-h2 {
  margin: 0;
  margin-bottom: 10px;
}

.head-h3 {
  margin: 0;
  margin-bottom: 10px;
}

.list-ul {
  margin: 0;
  padding-left: 15px;
}

.list-li:not(:last-child) {
  margin-bottom: 20px;
}

.image {
  margin: 0;
  margin-bottom: 40px;
}

.image-reset4 {
  margin: 0;
}


.figure-img {
  margin: 0;
  display: inline-block;
  width: 872px;
}

.figure-img:not(:last-child) {
  margin-bottom: 40px;
}
